/* Importação da fonte Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Definição de variáveis de cor e tamanho */
:root {
  --width: 1100px;
  --principal-color: #111317; 
  --subprincipal-color: #1f2125; 
  --principal-gray: #35373b;
  --orange: #f9ac54; 
  --dark-orange: #d79447; 
  --text-light: #d1d5db; 
  --white: #ffffff; 
  
}

/* Reset de margin e padding */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo do container da seção */
.section__container {
  width: var(--width);
  margin: auto;
  padding: 5rem 1rem;
}

/* Estilo do cabeçalho da seção */
.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

/* Estilo do subtítulo da seção */
.section__subheader {
  width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

/* Estilo do botão */
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover no botão */
.btn:hover {
  background-color: var(--dark-orange);
}

/* Estilo das imagens */
img {
  width: 100%;
  display: flex;
}

/* Estilo dos links */
a {
  text-decoration: none;
}

/* Estilo do fundo desfocado */
.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--orange);
  z-index: -1;
}

/* Estilo geral do corpo */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--principal-color);
}

/* Estilo da navegação */
nav {
  width: var(--width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;
  background-color: var(--principal-color);
  z-index: 1;
}

/* Estilo do logo de navegação */
.nav__logo {
  width: 150px;
}

/* Estilo dos links de navegação */
.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Estilo do link com efeito de underline */
.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
}

/* Efeito de underline nos links */
.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--orange);
  transition: 0.3s;
}

/* Hover no link com efeito de underline */
.link a:hover::after {
  width: 50%;
}

/* Estilo do header principal */
.header__container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

/* Texto de fundo no header */
.header__container::before {
  content: "FITNESS";
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--white);
  opacity: 0.05;
  z-index: -1;
}

/* Estilo do texto do header */
.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--orange);
}

/* Estilo do título do header */
.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--white);
}

/* Estilo do título com contorno */
.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

/* Estilo do texto no header */
.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

/* Estilo da imagem do header */
.header .img {
  position: relative;
}

/* Efeito de texto na imagem do header */
.header .img::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--orange);
  opacity: 0.1;
  z-index: -1;
}

/* Estilo da imagem do header */
.header .img img {
  width: 350px;
  margin: auto;
}

/* Estilo do cabeçalho da seção de explorar */
.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Estilo dos ícones de navegação da seção explorar */
.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Estilo dos ícones de navegação*/
.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

span img{
  width: 45px;
  height: 45px;
  padding: 0.2rem;
}
p img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.review__rating{
  display: flex;
}
.review__rating span img{
  width: 30px;
  height: 30px;
}
.price__grid p{
  display: flex;
}

/* Hover nos ícones de navegação */
.explore__nav span:hover {
  color: var(--orange);
  border-color: var(--orange);
}

/* Estilo da grid de explorar */
.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Estilo das cards na seção explorar */
.explore__card {
  padding: 1rem;
  background-color: var(--subprincipal-color);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover nas cards */
.explore__card:hover {
  background-color: var(--principal-gray);
  border-color: var(--orange);
}

/* Estilo do título da card */
.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--dark-orange);
  border-radius: 5px;
}

/* Estilo do conteúdo da card */
.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

/* Estilo do texto na card */
.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

/* Estilo dos links dentro das cards */
.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

/* Hover nos links dentro das cards */
.explore__card a:hover {
  color: var(--orange);
}

/* Estilo da seção de classes */
.class__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* Estilo das imagens dentro da seção de classes */
.class__image {
  position: relative;
}

/* Estilo das duas imagens da classe */
.class__image .class__img-1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  border-radius: 10px;
}

.class__image .class__img-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  border-radius: 10px;
}

/* Estilo do conteúdo da classe */
.class__content {
  padding: 2rem 0;
}

/* Estilo do cabeçalho da classe */
.class__content .section__header {
  text-align: left;
  width: 400px;
}

/* Estilo do texto da classe */
.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
}

/* Estilo da imagem de inscrição */
.join__image {
  margin-top: 4rem;
  position: relative;
}

/* Estilo da grid de inscrição */
.join__grid {
  position: absolute;
  bottom: -5rem;
  width: calc(100% - 4rem);
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--subprincipal-color);
  border-radius: 10px;
}

/* Estilo das cards de inscrição */
.join__card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Estilo do título da card de inscrição */
.join__card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--dark-orange);
  border-radius: 5px;
}

/* Estilo do conteúdo da card de inscrição */
.join__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

/* Estilo do texto da card de inscrição */
.join__card p {
  color: var(--text-light);
}

/* Estilo das cards de preço */
.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Estilo das cards de preço */
.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--subprincipal-color);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover nas cards de preço */
.price__card:hover {
  background-color: var(--principal-gray);
  border-color: var(--orange);
}

/* Estilo do conteúdo das cards de preço */
.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

/* Estilo do título da card de preço */
.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

/* Estilo do preço nas cards */
.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

/* Estilo da descrição nas cards de preço */
.price__card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

/* Estilo do ícone nas descrições */
.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--orange);
}

/* Estilo do botão de preço */
.price__btn {
  color: var(--orange);
  background-color: transparent;
  border: 2px solid var(--orange);
}

/* Hover no botão de preço */
.price__btn:hover {
  color: var(--white);
  background-color: var(--orange);
}

/* Estilo da seção de reviews */
.review {
  background-color: var(--subprincipal-color);
}

/* Estilo do container das reviews */
.review__container {
  display: flex;
  gap: 2rem;
}

/* Estilo do ícone de avaliação */
.review__container > span {
  font-size: 6rem;
  color: var(--orange);
  opacity: 0.5;
}

/* Estilo do conteúdo da review */
.review__content {
  flex: 1;
}

/* Estilo do título da review */
.review__content h4 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

/* Estilo do texto da review */
.review__content p {
  width: 800px;
  margin-bottom: 2rem;
  color: var(--text-light);
}

/* Estilo da avaliação */
.review__rating span {
  font-size: 1.5rem;
  color: var(--orange);
}

/* Estilo do footer da review */
.review__footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Estilo do membro da review */
.review__member {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* Estilo da imagem do membro da review */
.review__member img {
  width: 60px;
  border-radius: 100%;
}

/* Estilo do nome do membro */
.review__member__details h4 {
  margin-bottom: 0;
}

/* Estilo da navegação do review */
.review__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Estilo do botão da navegação */
.review__nav span {
  font-size: 2rem;
  color: var(--orange);
  cursor: pointer;
}

/* Estilo do footer */
.footer__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

/* Estilo do fundo desfocado do footer */
.footer__blur {
  bottom: 0;
  right: 0;
}

/* Estilo do logo do footer */
.footer__logo {
  width: 150px;
  margin-bottom: 2rem;
}

/* Estilo das colunas do footer */
.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

/* Estilo dos links sociais do footer */
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__socials a img{
  width: 25px;
  
}

/* Estilo dos links sociais com hover */
.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 100%;
  transition: 0.3s;
}

/* Hover nos links sociais */
.footer__socials a:hover {
  color: var(--white);
  background-color: var(--orange);
}

/* Estilo do título das colunas do footer */
.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

/* Estilo dos links das colunas */
.footer__col > a {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

/* Hover nos links das colunas */
.footer__col > a:hover {
  color: var(--orange);
}

/* Estilo da barra do footer */
.footer__bar {
  width: var(--width);
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
}
